@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 100;
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En01Hairline.eot');
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En01Hairline.eot?#iefix') format('embedded-opentype'),
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En01Hairline.woff') format('woff'), 
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En01Hairline.ttf') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 200;
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En02Thin.eot');
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En02Thin.eot?#iefix') format('embedded-opentype'),
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En02Thin.woff') format('woff'), 
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En02Thin.ttf') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 300;
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En03Light.eot');
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En03Light.eot?#iefix') format('embedded-opentype'),
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En03Light.woff') format('woff'), 
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En03Light.ttf') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 400;
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En04Regular.eot');
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En04Regular.eot?#iefix') format('embedded-opentype'),
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En04Regular.ttf') format('truetype'),
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En04Regular.woff') format('woff');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 500;
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En05Medium.eot');
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En05Medium.eot') format('embedded-opentype'),
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En05Medium.ttf') format('truetype'),
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En05Medium.woff') format('woff');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 700;
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En06Bold.eot');
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En06Bold.eot') format('embedded-opentype'),
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En06Bold.ttf') format('truetype'),
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En06Bold.woff') format('woff');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 900;
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En07Heavy.eot');
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En07Heavy.eot') format('embedded-opentype'),
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En07Heavy.woff') format('woff'), 
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En07Heavy.ttf') format('truetype');
}
@font-face {
	font-family: YekanBakh;
	font-style: normal;
	font-weight: 999;
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En08Fat.eot');
	src: url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En08Fat.eot') format('embedded-opentype'),
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En08Fat.woff') format('woff'), 
    url('http://127.0.0.1:3000/fonts/YekanBakh/Fa-En/YekanBakhFa-En08Fat.ttf') format('truetype');
}

/* /admin/css/fonts/YekanBakh/Fa-En */