@import url(./fonts/YekanBakh/style.css);
@import url(./jalalidatepicker.min.css);

body{
  position: relative;
}

div,
span,
td,
th,
article,
h1,
h2,
h3,
h4,
h5,
h6,
h6,
a,
b,
small,
button,
input,
option,
select optgroup,
label,
select,
textarea {
  font-family: YekanBakh !important;
}

select > option {
  font-family: tahoma !important;
}

.toastify .toast-close {
  padding-left: 0.4rem !important;
}

.toastify {
  min-width: 350px !important;
}

.alert-danger + .toastify > .toast-close::before {
  color: #fff !important;
}

.top-bar-boxed {
  z-index: 0 !important;
}

.tail-select {
  padding: 0 !important;
}

*,
::after,
::before {
  box-sizing: border-box;
  /* border: 0 solid #e2e8f0 !important; */
  /* border: 0 solid rgb(226, 232, 240) !important; */
}

.form-control {
  border: 1 solid rgb(226, 232, 240) !important;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px !important;
}

.top-bar-boxed {
  z-index: 10 !important;
}

.form-control {
  border-color: rgb(226, 232, 240);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
    var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

.form-control::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgba(160, 174, 192, var(--tw-placeholder-opacity));
}

.form-control:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}

.form-control:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}

.form-control:focus,
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  border-color: transparent !important;
  outline: 2px solid rgba(59, 130, 246, 0.5);
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 transparent);
}

/* tooltip */
.simple-tooltip {
  position: relative;
  display: inline;
}

.simple-tooltip .tooltiptext {
  /* visibility: hidden; */
  display: none;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 15px;
  /* Position the tooltip */
  position: absolute;
  top: -35px;
  left: -15px;
  z-index: 100;
  width: max-content;
}

.simple-tooltip:hover .tooltiptext {
  /* visibility: visible; */
  display: inline;
}

tr {
  position: static !important;
}

/* --------------dropzone----------------- */
.dropzone .dz-preview .dz-error-message {
  top: 150px;
}

.dropzone.dz-clickable {
  background-color: #f7f7f7;
  border-radius: 5px;
}

.dropzone .dz-preview.dz-image-preview {
  background-color: transparent !important;
}
.avatar-user .dropzone{
  min-height: 120px !important;
}

.box11::before {
  content: "";
  width: 90%;
  background: #f9fafc;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.043137254901960784);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75rem;
  height: 100%;
  border-radius: 0.375rem;
}

.report-box-2::before {
  width: 95% !important;
  height: 99% !important;
}

.icon-plus {
  position: relative;
  top: 2.2rem;
}

.tail-select input[type="text"] {
  width: 98%;
  margin: 3px;
}

/* ========================== CKEDITOR ================================== */
.ck.ck-toolbar
  .ck-toolbar__nested-toolbar-dropdown
  > .ck-button
  > .ck-button__label {
  font-size: 0.9rem !important;
  padding-top: 3px;
  padding-right: 5px;
}

.ck.ck-dropdown .ck-dropdown__arrow {
  width: 11px !important;
}

.display-inline {
  display: inline-block !important;
}

.radio-max {
  max-width: 5px;
}

/* ======================================= TIMER ===================================== */
.timer {
  position: relative;
  right: 0px;
  top: 70px;
}
/* .image-fit-grid > img{
    width: auto;
    height: 120%;
    top: -10%;
} */
select {
  background-color: #fff !important;
}

/* ================================== Animated Loading =============================== */
@keyframes placeHolderShimmer {
  0% {
    background-position: -600px 0;
  }
  100% {
    background-position: 600px 0;
  }
}

.animated-background {
  animation-duration: 2.2s !important;
  animation-fill-mode: forwards !important;
  animation-iteration-count: infinite !important;
  animation-name: placeHolderShimmer !important;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #ddd 8%, #e9e9e9 18%, #ddd 33%);
  background: linear-gradient(to right, #ddd 8%, #c9c9c9 18%, #ddd 33%);
  background-size: 600px 104px !important;
  height: 150px;
  position: relative !important;
  border: 1px solid #c8c8c8;
}

.btn-cursor-default {
  cursor: default !important;
}

.bg-green {
  background-color: #e1f0eb;
  width: 50%;
}

.text-danger {
  color: red !important;
}

/* ====================== Theme Base =====================  */
.font-header {
  font-weight: 999;
}

.top-nav > ul li .top-menu {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.user-avatar {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media print {
  .fc-button {
    display: none !important;
  }
}

/* .container__days{
    direction: rtl;
} */

/* ======================= PersianDatePicker ==================== */
.date-input-with-dialog-main {
  height: auto;
}

.date-input-with-dialog-input-buttons {
  margin-left: 10px;
}

.JDatePicker .JC-Nav {
  align-content: center;
  color: rgba(45, 55, 72, var(--tw-text-opacity));
}

.JC-Section-Year .JC-Nav {
  color: #fff;
}

.JC-Buttons {
  display: none;
}

.JDatePicker .JC-days {
  padding-bottom: 10px;
  margin-bottom: 2px;
  border-bottom: 0px;
}

.JC-Nav svg {
  margin: 0px auto;
}

.date-input-with-dialog-empty {
  display: none;
}

.date-input-with-dialog-calendar {
  left: 0.1em;
}

.days-titles {
  line-height: 280%;
}

:root {
  --datepicker-border-color: rgb(226, 232, 240);
}
.ltr {
  direction: ltr !important;
}
.rtl {
  direction: rtl !important;
}
.show-password {
  top: -2rem;
  left: 1rem;
}
.__calendar-header {
  margin-bottom: 1rem;
}
.__calendar-body table th {
  padding: 0.5rem;
  border-left: 1px solid #e3e3e3;
  font-size: 10pt;
}
.__calender-header-children {
  margin-top: 10px;
}
.__calender-table-td
  .__calendar-table-td-body
  .__calendar-table-td-body-events
  .__calendar-table-td-body-events-item {
  padding-top: 5px !important;
  font-size: 0.9rem !important;
}
.__calendar-table-td-body-events-item-circle {
  width: 6px;
  height: 6px;
  display: inline-block;
  margin-bottom: 1px;
}
.__calender-table-td
  .__calendar-table-td-body
  .__calendar-table-td-body-events
  .__calendar-table-td-body-events-item {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.event-modal {
  background: #0000007d;
  z-index: 1001;
}
.event-modal-card {
  background: white;
  padding: 1rem;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 8px;
}
.event-modal-header {
  border-bottom: 1px solid #dbdbdb;
}
.__calendar-table-td-body {
  min-height: 20px !important;
}
.__calender-header-title {
  font-size: 13pt !important;
}
button[data-tabs-target].active {
  color: white;
  background: #192547;
  transition: 300ms;
}
@media screen and (max-width: 768px) {
  #reader {
    min-height: 462px !important;
  }
  .__calendar-table-td-body-events:empty {
    display: none !important;
  }
  .__calender-table-td
    .__calendar-table-td-body
    .__calendar-table-td-body-events
    .__calendar-table-td-body-events-item {
    -webkit-line-clamp: 0 !important;
    width: 97% !important;
  }
  .event-modal-card {
    width: 290px;
  }
  .__calendar-body .__calendar-header .__calender-header-controllers {
    gap: 14px !important;
  }
  .__datepicker-table
    .__calender-table-td
    .__calendar-table-td-body
    .__calendar-table-td-body-events
    .__calendar-table-td-body-events-item.hide {
    opacity: 1 !important;
  }
  .__calender-table-td
    .__calendar-table-td-body
    .__calendar-table-td-body-date {
    right: 8px !important;
  }
}

@media screen and (max-width: 991px) {
  .mobile-screen {
    height: 250px;
  }
}

/*** playlist ***/
.play-btn {
  position: absolute;
  margin-top: -30px;
  margin-left: -30px;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: #fdc362;
  border-radius: 50%;
  color: black;
  line-height: 60px;
  text-align: center;
  padding: 0 0 0 3px;
  z-index: 99;
  transition: 500ms;
}
.single-feature-post.video-post .post-content {
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 59;
  width: 80%;
}
.single-feature-post.video-post .video-duration {
  display: inline-block;
  position: absolute;
  left: 30px;
  bottom: 30px;
  background-color: #0f1112;
  padding: 6px 12px;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
  line-height: 1;
  z-index: 79;
}
.vizew-nav-tab {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  position: relative;
  z-index: 1;
  background-color: #393c3d;
  width: 100%;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  outline: none;
}
.mobile-vizew-nav-tab {
  background-color: #393c3d;
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  outline: none;
}
.mobile-vizew-nav-tab .nav-link.active {
  box-shadow: 0 3px 0px #ff7a19 !important;
}

.mobile-vizew-nav-tab li {
  margin: 0 6px 0 4px;
}
.vizew-nav-tab .nav-link {
  padding: 0;
  padding: 15px 20px;
  border-right: 4px solid transparent;
}
.vizew-nav-tab .nav-link:hover {
  background-color: #0e0a0c;
}
.vizew-nav-tab .nav-link:hover .post-title {
  color: #fdc362 !important;
}
.vizew-nav-tab .nav-link.active {
  background-color: #4d5051;
  border-right-color: #ff7a19;
}
.single-blog-post.style-2 {
  margin-bottom: 0;
}
.single-blog-post:last-child {
  margin-bottom: 0;
}
.single-blog-post {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}
.single-blog-post.style-2 .post-thumbnail {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 110px;
  flex: 0 0 110px;
  max-width: 110px;
  width: 110px;
}
.single-blog-post.style-2 .post-thumbnail img {
  width: 100%;
}
.single-blog-post.style-2 .post-content {
  position: relative;
  z-index: 1;
  padding-left: 20px;
}
.single-blog-post.style-2 .post-content .post-title {
  color: #ffffff;
  margin-bottom: 10px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
.single-blog-post.style-2 .post-content .post-meta span {
  color: #a6a6a6;
  font-size: 12px;
}
.single-blog-post .post-content .post-title:hover,
.single-blog-post .post-content .post-title:hover {
  color: #fdc362;
}
.v-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.single-feature-post.video-post .post-content .post-title {
  font-size: 24px;
  display: block;
  color: #ffffff;
  margin-bottom: 10px;
}
.single-feature-post.video-post .post-content .post-title:hover,
.single-feature-post.video-post .post-content .post-title:focus {
  color: #fdc362;
}
.post-cata {
  background-color: #fdc362;
  padding: 8px 15px 6px;
  border-radius: 2px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  line-height: 1;
  margin-bottom: 15px;
  display: inline-block;
}
.single-feature-post.video-post .post-content .post-meta a {
  display: inline-block;
  margin-right: 30px;
  color: #ffffff;
}
.single-feature-post.video-post .post-content .post-meta a:hover,
.single-feature-post.video-post .post-content .post-meta a:focus {
  color: #fdc362;
}
.single-feature-post video {
  width: 100%;
  min-height: 100% !important;
  max-height: 100% !important;
}

.hero--area .tab-pane {
  /* max-height: 80vh; */
  background-color: rgba(0, 0, 0, 0.94);
}
.play-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.95);
}
.play-layer img {
  /* width: 100%; */
  max-height: 80vh;
}
/* .play-loader {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 4px solid rgb(240, 154, 4);
  border-radius: 50%;
  border-top-color: #ef394e;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
} */

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
.disabled {
  cursor: not-allowed !important;
}
.react-pdf__message.react-pdf__message--error {
  background-color: white !important;
}

.ck-toolbar__items, .ck-dropdown__button{
  direction: ltr !important;
}

@media (max-width:639px) {
  body{
    padding: 15px 10px !important;
  }
}

td, th{
	position: relative;
}